.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Це встановить висоту контейнера на весь екран */
    margin-top: 300px;
    
  }
  
  .image-with-caption {
    position: relative; /* Це потрібно, щоб позиціонувати підписи відносно зображення */
  }
  
  .image-with-caption img {
    width: 100%; /* Робить зображення адаптивним до розміру контейнера */
    height: auto; /* Робить зображення адаптивним до розміру контейнера */
    max-width: 100%; /* Робить зображення не більше за його оригінальний розмір */
    max-height: 100%; /* Робить зображення не більше за його оригінальний розмір */
  }
  
  .caption {
    position: absolute; /* Це потрібно, щоб позиціонувати підписи відносно зображення */
    color: rgb(75, 20, 240); /* Колір тексту підписів */
    font-size: 100px; /* Розмір шрифту підписів */
    font-style: italic;
    font-weight: bold; /* Товщина шрифту підписів */
    text-align: center; /* Вирівнює текст по центру */
  }
  
  .caption {
    top: 300px; /* Встановлює відступ від верхнього краю */
    left: 50%; /* Вирівнює підпис по горизонталі в центр */
    transform: translateX(-50%); /* Це центрує підпис горизонтально відносно його контейнера */
    font-size: 100px;
  }
  
 